<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>图片展示</title>
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
  <div class="region">
    <div class="stage">
      <div class="data-panel" id="data_panel">
        <data-filter :groups-meta="groups" :records="records" @after-filter="filteredRecords = $event" v-slot="slot" ref="filter">
          <div class="data-filter">
            <div class="data-filter__group">
              <p><b>Manufacturer:</b></p>
              <select class="filter-item" v-model="slot.values.manufacturer" @change="handleValidatorChange('manufacturer')">
                <option value="">-Select-</option>
                <option v-for="v in slot.groups.manufacturer.all()" :key="v.id" :value="v.id">{{ v.value }} ({{ v.total }})</option>
              </select>
            </div>
          </div>
        </data-filter>
        <div class="data-layout data-layout--table">
          <div class="table-wrapper">
            <table class="jc-table">
              <thead>
                <tr>
                  <th>Image</th>
                  <th>Manufacturer</th>
                  <th>Manufacturer #</th>
                  <th>Inborn Filter #</th>
                  <th>Category</th>
                  <th>更新时间</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="record in filteredRecords">
                  <td>
                    <div class="data-layout__column-content">
                      <div data-aspect-ratio="4:3" class="image-wrapper">
                        <div class="image">
                          <img :src="'../images'+record.image" :alt="record.manufacturer+' '+record.manufacture_oe+' ('+record.inborn_filter_oe+')'">
                        </div>
                      </div>
                    </div>
                  </td>
                  <td>{{ record.manufacturer }}</td>
                  <td>{{ record.manufacture_oe }}</td>
                  <td>{{ record.inborn_filter_oe }}</td>
                  <td>{{ record.category }}</td>
                  <td>{{ record.updated_at }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="../node_modules/jquery/dist/jquery.min.js"></script>
  <script src="../node_modules/vue/dist/vue.min.js"></script>
  <script src="../js/c-pagination.js"></script>
  <script src="../js/validators.js"></script>
  <script src="../js/data-filter.js"></script>
  <script src="../js/data.js"></script>
  <script>

    // 用来生成验证器组的元数据
    const groups = [
      { // 定义在属性 manufacturer 上的值验证器组
        name: 'manufacturer',
        type: 'value',
        prop: 'manufacturer',
        multiple: false,
      },
    ];

    var dataPanel = new Vue({
      el: '#data_panel',

      data: function() {
        return {
          records: [],
          filteredRecords: [],
          groups: groups,
        };
      },

      methods: {
        init: function(records) {
          this.records = records.slice();
          this.filteredRecords = records.slice();
        },

        // 使用 data-filter 组件
        handleValidatorChange: function(prop) {
          this.$refs.filter.handleValidatorChange(prop);
        },

        handleFilterChange: function() {
          this.$refs.filter.handleFilterChange();
        },
      },
    });

    dataPanel.init(records);
  </script>
</body>
</html>
