<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>图片展示</title>
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
  <div class="region">
    <div class="stage">
      <div class="data-panel">
        <div class="data-filter" id="data_filter">
          <div class="data-filter__group">
            <p><b>Manufacturer:</b></p>
            <select class="filter-item" v-model="values.manufacturer" @change="handleValidatorChange('manufacturer')">
              <option value="">-Select-</option>
              <option v-for="v in groups.manufacturer.all()" :key="v.id" :value="v.id">{{ v.value }} ({{ v.total }})</option>
            </select>
          </div>
        </div>
        <div class="data-layout data-layout--table" id="data_layout">
          <div class="table-wrapper">
            <table class="jc-table">
              <thead>
                <tr>
                  <th>Image</th>
                  <th @click.stop="sortBy('manufacturer', $event)">
                    <div class="data-layout__header-content">Manufacturer<i class="sorting-indicator"></i></div>
                  </th>
                  <th @click.stop="sortBy('manufacture_oe', $event)">
                    <div class="data-layout__header-content">Manufacturer #<i class="sorting-indicator"></i></div>
                  </th>
                  <th @click.stop="sortBy('inborn_filter_oe', $event)">
                    <div class="data-layout__header-content">Inborn Filter #<i class="sorting-indicator"></i></div>
                  </th>
                  <th @click.stop="sortBy('category', $event)">
                    <div class="data-layout__header-content">Category<i class="sorting-indicator"></i></div>
                  </th>
                  <th @click.stop="sortBy('updated_at', $event)">
                    <div class="data-layout__header-content">更新时间<i class="sorting-indicator"></i></div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="record in currentPageRecords">
                  <td><div class="data-layout__column-content" v-html="render(record, 'image')"></div></td>
                  <td><div class="data-layout__column-content" v-html="render(record, 'manufacturer')"></div></td>
                  <td><div class="data-layout__column-content" v-html="render(record, 'manufacture_oe')"></div></td>
                  <td><div class="data-layout__column-content" v-html="render(record, 'inborn_filter_oe')"></div></td>
                  <td><div class="data-layout__column-content" v-html="render(record, 'category')"></div></td>
                  <td><div class="data-layout__column-content" v-html="render(record, 'updated_at')"></div></td>
                </tr>
              </tbody>
            </table>
          </div>
          <el-pagination
            background
            layout="prev, pager, next"
            :total="records.length"
            :page-size="pagination.perPage"
            @current-change="handleCurrentPageChange">
          </el-pagination>
        </div>
      </div>
    </div>
  </div>

  <script src="../js/vendor/vue/dist/vue.min.js"></script>
  <script src="../js/vendor/element/lib/index.js"></script>
  <script src="../js/validators.js"></script>
  <script src="../js/data-panel.js"></script>
  <script src="../js/data.js"></script>
  <script>

    /**
     * 生成数据展示组件
     */
    const layout = DataPanel.newLayout({
      // *必需* 目标元素
      el: '#data_layout',

      // 指定列内容渲染函数
      render: {
        'image': function(value, record, prop) {
          // 获取图片 alt
          const alt = record['manufacturer']+' '+record['manufacture_oe']+' ('+record['inborn_filter_oe']+')';

          // 生成并返回 html
          return '<div data-aspect-ratio="4:3" class="image-wrapper">' +
            '<div class="image"><img src="../images'+value+'" alt="'+alt+'"></div>' +
            '</div>';
        },
      },
    });

    // 用来生成验证器组的元数据
    const groups = [
      { // 定义在属性 manufacturer 上的值验证器组
        name: 'manufacturer',
        type: 'value',
        prop: 'manufacturer',
        multiple: false,
      },
    ];

    /**
     * 生成数据展示组件
     */
    const filter = DataPanel.newFilter({
      // *必需* 目标元素
      el: '#data_filter',

      // *必需* 指定布局组件
      layout: layout,

      // *必需* 用来生成验证器组的元数据
      groups: groups,
    });

    filter.init(records);
  </script>
</body>
</html>
